<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>成功登陆到Cas页面</title>
    <style>
      .services-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(127, 195, 255);
      }
      .services {
        width: min(100%, 400px);
        height: 90%;
        margin: 5vh auto;
        background-color: rgb(230, 238, 245);
        box-shadow: 100px 100px 80px rgba(0, 0, 0, 0.07);
        border-radius: 8px;
        padding: 10px 20px;
        box-sizing: border-box;
      }
      .services > h1 {
        margin: 10px 0;
        text-align: center;
        font-size: 23px;
      }
      .services > ul {
        list-style: none;
        padding: 0;
      }
      .open-target {
        padding: 4px;
        display: block;
        margin-top: 38px;
        cursor: pointer;
        text-align: center;
        text-decoration: underline;
        font-size: 17px;
      }
      .loading-wrap {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.2s ease-in;
        z-index: -1;
      }
      .loading {
        width: 50px;
        height: 50px;
        margin: 40vh auto;
        display: inline-block;
      }
      .loading-wrap[data-active="true"] {
        opacity: 1;
        z-index: 100;
      }
      .loading-wrap[data-active="true"] > .loading {
        animation: rotate 2s linear infinite;
      }
      @keyframes rotate {
        from {
          transform: rotate(0);
        }
        to {
          transform: rotate(360deg);
        }
      }
    </style>
  </head>
  <body>
    <div class="services-wrap">
      <div class="services">
        <h1>登陆Cas页面成功</h1>
        <ul onclick="handleOpen(event)">
          <li>
            <a class="open-target" data-target="matrix">打开教务系统</a>
          </li>
          <li>
            <a data-target="soa" class="open-target"> 打开一站式服务大厅 </a>
          </li>
          <li>
            <a data-target="lab" class="open-target"> 打开实验管理系统 </a>
          </li>
          <li>
            <a data-target="reader" class="open-target"> 打开图书馆系统 </a>
          </li>
          <li>
            <a class="open-target" onclick="handleShowTime()">
              查看当前学期信息
            </a>
          </li>

          <li>
            <a class="open-target" onclick="handleShowLabCourses()">
              查看实验课
            </a>
          </li>
          <li>
            <a class="open-target" onclick="handleShowCommonCourses()">
              查看教务处课表
            </a>
          </li>
          <li>
            <a class="open-target" onclick="handleShowExam()"> 查看考试安排 </a>
          </li>
          <li>
            <a class="open-target" onclick="handleShowScore()"> 查看课程成绩 </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="loading-wrap">
      <svg
        class="loading"
        viewBox="0 0 1024 1024"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M204.8 204.8m-204.8 0a204.8 204.8 0 1 0 409.6 0 204.8 204.8 0 1 0-409.6 0Z"
          fill="#EBF2FC"
          p-id="6423"
        ></path>
        <path
          d="M819.2 204.8m-204.8 0a204.8 204.8 0 1 0 409.6 0 204.8 204.8 0 1 0-409.6 0Z"
          fill="#B5D2F3"
          p-id="6424"
        ></path>
        <path
          d="M819.2 819.2m-204.8 0a204.8 204.8 0 1 0 409.6 0 204.8 204.8 0 1 0-409.6 0Z"
          fill="#7FB0EA"
          p-id="6425"
        ></path>
        <path
          d="M204.8 819.2m-204.8 0a204.8 204.8 0 1 0 409.6 0 204.8 204.8 0 1 0-409.6 0Z"
          fill="#4A90E2"
          p-id="6426"
        ></path>
      </svg>
    </div>
    <script>
      const casCookie = localStorage.getItem("cas");
      if (!casCookie) {
        location.href = "loginCas";
      }
      function handleGetSoaTicket(cookie, target) {
        return fetch("/api/cas/ticket", {
          method: "post",
          headers: {
            "content-type": "application/json",
          },
          body: JSON.stringify({
            cookie,
            target,
          }),
        });
      }

      function handleError(msg) {
        const tmp = confirm(msg + "，尝试重新登陆吗？");
        if (tmp) {
          localStorage.removeItem("cas");
          location.href = "loginCas";
        }
      }
      if (/(?:QBWebViewType)|(?:MicroMessenger)/.test(navigator.userAgent)) {
        alert(
          "学校部分系统会被QQ或微信内置浏览器拦截，建议使用外部浏览器打开。"
        );
      }
      function handleOpen(event) {
        if (event.target.tagName === "A") {
          const { target } = event.target.dataset;
          if (target) {
            handleSwitchLoading();
            handleGetSoaTicket(casCookie, target)
              .then((res) => {
                return res.json();
              })
              .then((res) => {
                if (res.code === 200) {
                  if (/QBWebViewType/.test(navigator.userAgent)) {
                    location.href = res.data.ticket;
                  } else {
                    //IOS禁止回调函数直接调用open方法
                    location.href = `javascript:window.open('${res.data.ticket}')`;
                  }
                } else {
                  throw new Error(res.msg);
                }
              })
              .catch((err) => {
                handleError(err.message);
              })
              .finally(handleSwitchLoading);
          }
        }
      }

      function handleShowTime() {
        handleSwitchLoading();
        const ticket = handleGetSoaTicket(casCookie, "lab")
          .then((res) => {
            return res.json();
          })
          .then((res) => {
            if (res.code === 200) {
              return res.data.ticket;
            } else {
              throw new Error("返回状态码为" + res.code);
            }
          })
          .then((ticket) => {
            return fetch(
              "/api/timetable/cookie?ticket=" + encodeURIComponent(ticket),
              {
                headers: {
                  "content-type": "x-www-form-urlencoded",
                },
              }
            );
          })
          .then((res) => {
            return res.json();
          })
          .then((res) => {
            if (res.code === 200) {
              return res.data.cookie;
            } else {
              throw new Error("返回状态码为" + res.code);
            }
          })
          .then((cookie) => {
            return fetch(
              "/api/timetable/time?cookie=" + encodeURIComponent(cookie)
            );
          })
          .then((res) => {
            return res.text();
          })
          .then((text) => {
            alert(text);
          })
          .catch((err) => {
            handleError(err.message);
          })
          .finally(handleSwitchLoading);
      }

      function handleShowLabCourses() {
        handleSwitchLoading();
        const ticket = handleGetSoaTicket(casCookie, "lab")
          .then((res) => {
            return res.json();
          })
          .then((res) => {
            if (res.code === 200) {
              return res.data.ticket;
            } else {
              throw new Error("返回状态码为" + res.code);
            }
          })
          .then((ticket) => {
            return fetch(
              "/api/timetable/cookie?ticket=" + encodeURIComponent(ticket),
              {
                headers: {
                  "content-type": "x-www-form-urlencoded",
                },
              }
            );
          })
          .then((res) => {
            return res.json();
          })
          .then((res) => {
            if (res.code === 200) {
              return res.data.cookie;
            } else {
              throw new Error("返回状态码为" + res.code);
            }
          })
          .then((cookie) => {
            return fetch(
              "/api/timetable/labTimeTable?cookie=" + encodeURIComponent(cookie)
            );
          })
          .then((res) => {
            return res.text();
          })
          .then((text) => {
            alert(text);
          })
          .catch((err) => {
            handleError(err.message);
          })
          .finally(handleSwitchLoading);
      }

      function handleShowCommonCourses() {
        handleSwitchLoading();
        const ticket = handleGetSoaTicket(casCookie, "lab")
          .then((res) => {
            return res.json();
          })
          .then((res) => {
            if (res.code === 200) {
              return res.data.ticket;
            } else {
              throw new Error("返回状态码为" + res.code);
            }
          })
          .then((ticket) => {
            return fetch(
              "/api/timetable/cookie?ticket=" + encodeURIComponent(ticket),
              {
                headers: {
                  "content-type": "x-www-form-urlencoded",
                },
              }
            );
          })
          .then((res) => {
            return res.json();
          })
          .then((res) => {
            if (res.code === 200) {
              return res.data.cookie;
            } else {
              throw new Error("返回状态码为" + res.code);
            }
          })
          .then((cookie) => {
            return fetch(
              "/api/timetable/commonTimeTable?cookie=" +
                encodeURIComponent(cookie)
            );
          })
          .then((res) => {
            return res.text();
          })
          .then((text) => {
            alert(text);
          })
          .catch((err) => {
            handleError(err.message);
          })
          .finally(handleSwitchLoading);
      }

      function handleShowExam() {
        handleSwitchLoading();
        fetch("/api/dean/exam?cas=" + encodeURIComponent(casCookie), {
          headers: {
            "content-type": "x-www-form-urlencoded",
          },
        })
          .then((res) => {
            return res.json();
          })
          .then((res) => {
            if (res.code === 200) {
              return res;
            } else {
              throw new Error("返回状态码为" + res.code);
            }
          })
          .then((res) => {
            alert(JSON.stringify(res));
          })
          .catch((err) => {
            handleError(err.message);
          })
          .finally(handleSwitchLoading);
      }

      function handleShowScore() {
        handleSwitchLoading();
        fetch("/api/dean/score?cas=" + encodeURIComponent(casCookie), {
          headers: {
            "content-type": "x-www-form-urlencoded",
          },
        })
          .then((res) => {
            return res.json();
          })
          .then((res) => {
            if (res.code === 200) {
              return res;
            } else {
              throw new Error("返回状态码为" + res.code);
            }
          })
          .then((res) => {
            alert(JSON.stringify(res));
          })
          .catch((err) => {
            handleError(err.message);
          })
          .finally(handleSwitchLoading);
      }

      function handleSwitchLoading() {
        const loadingEl = document.querySelector(".loading-wrap");
        const flag = loadingEl.getAttribute("data-active") === "true";
        loadingEl.setAttribute("data-active", flag ? "false" : "true");
      }
    </script>
  </body>
</html>
